#dropdown {
  display: none;
  position: absolute;
  background-color: #d2cf9f;
  color: black;
  width: 150px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

#dropdown a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

#dropdown a:hover {
  background-color: #bfbf8f;
}
