* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; /* Warna latar belakang */
  color: #ffffff; /* Warna teks */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
body {
  background-color: #804e00;
  background: linear-gradient(to right, #d2cf9f, #d2cf9f);
}
.container {
  background: #804e00;
  width: 450px;
  padding: 1.5rem;
  margin: 100px auto;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.9);
}
form {
  margin: 0 3rem;
}
.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 1.3rem;
  margin-bottom: 0.4rem;
  color: #ffffff;
}
input {
  color: inherit;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #d2cf9f;
  padding-left: 1.5rem;
  font-size: 15px;
}
.input-group {
  padding: 1% 0;
  position: relative;
}
.input-group i {
  position: absolute;
  color: rgb(255, 255, 255);
}
.input:focus {
  background-color: transparent;
  outline: transparent;
  border-bottom: 2px solid hsl(41, 100%, 75%);
}
input::placeholder {
  color: transparent;
}
label {
  color: #d2cf9f;
  position: relative;
  left: 1.3em;
  top: -1.2em;
  cursor: auto;
  transition: 0.3s ease all;
}
input:focus ~ label,
input:not(:placeholder-shown) ~ label {
  top: -2.6em;
  color: hsl(41, 79%, 74%);
  font-size: 15px;
}
.recover {
  text-align: right;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.recover a {
  text-decoration: none;
  color: rgb(125, 125, 235);
}
.recover a:hover {
  color: blue;
  text-decoration: underline;
}
.btn {
  font-size: 1.1rem;
  padding: 8px 0;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 100%;
  background: #d2cf9f;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.9s;
}
.btn:hover {
  background: #ffaf2d;
}
.or {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  text-align: center;
}
.links {
  display: flex;
  justify-content: space-around;
  padding: 0 4rem;
  margin-top: 0.9rem;
  font-weight: bold;
}
button {
  color: #ffffff;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
}
button:hover {
  text-decoration: underline;
  color: blue;
}
